.game-result {
  width: 320px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.game-result__player {
  width: 40%;
}

.game-result__player-heading {
  text-align: center;
}

.game-result__vs {
  width: 20%;
  text-align: center;
  font-size: 50px;
  font-style: italic;
}

.game-result__player-choice {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px auto;

  &--player1.CHOICE_ROCK {
    background-image: url("../img/rock-player1.png");
  }

  &--player1.CHOICE_PAPER {
    background-image: url("../img/paper-player1.png");
  }

  &--player1.CHOICE_SCISSORS {
    background-image: url("../img/scissors-player1.png");
  }

  &--player2.CHOICE_ROCK {
    background-image: url("../img/rock-player2.png");
  }

  &--player2.CHOICE_PAPER {
    background-image: url("../img/paper-player2.png");
  }

  &--player2.CHOICE_SCISSORS {
    background-image: url("../img/scissors-player2.png");
  }
}

.game-result__player-winner {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px auto;

  &.winner {
    background-image: url("../img/winner.png");
  }

  &.draw {
    background-image: url("../img/drawer.png");
  }

  &.loser {
    background-image: url("../img/loser.png");
  }
}

.game-result__button {
  @extend .button;

  margin-bottom: 20px;
}