.homepage {
    width: 310px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.homepage__heading {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 50px;
}

.homepage__button {
  @extend .button;

  margin-bottom: 20px;
}
